.heading {
    text-align: center;
    padding-top: 37px;
    
}
.container {
    display: block;
    background-color: #FFFFFF;
    height: 400px;
    font-family:Arial, Helvetica, sans-serif ;
    border-radius: 10px;
    margin-top: 120px;
    


}
html {
    background:linear-gradient(to bottom left, white, #1A8C8C );
    padding-bottom: 300px;
}


/* CSS */
.item-62 {
  background: linear-gradient(to bottom, #c3b4f0, #8fd3dc );
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
display: inline-block;
margin: 0 20px;
margin-left: 53px;




}
.item-63 {
  background: linear-gradient(to bottom, #c3b4f0, #8fd3dc );
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: 53px;
  margin-top: 20px;
  
  
  
}

.item-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.item-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(19, 0, 189, 0.5), .125rem .125rem 1rem rgba(141, 143, 235, 0.5);
}


.question {
    text-align: center;

}
ul {
  display:contents  
}


.item-63:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.item-63:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(19, 0, 189, 0.5), .125rem .125rem 1rem rgba(141, 143, 235, 0.5);